<% @article_array.each do |line| %>
  <p><%= line %></p>
<% end %>
<form action="/" method="get">
  <input type="submit" value="戻る">
</form>
<form action="/edit/<%= @id %>" method="get">
  <input type="submit" value="編集する">
</form>
