<h1>メモ一覧</h1>
<% @articles.each do |line| %>
<% column = line.split(",") %>
<% id = 0 %>
<ul>
  <li><a href="/show/<%= id.to_s %>"><%= column[0] %></a></li>
</ul>
<% id += 1 %>
<% end %>
<form action="/new" method="get">
  <input type="submit" value="新規メモ作成">
</form>
