<h1>メモ一覧</h1>
<% @articles.each_with_index do |article, i| %>
  <% column = article.split(",") %>
  <ul>
    <li>
      <a href="/memo/<%= i %>"><%= column[0] %></a>
    </li>
  </ul>
<% end %>
<form action="/new" method="get">
  <input type="submit" value="新規メモ作成">
</form>
