<h1>メモ一覧</h1>
<% @articles.each do |line| %>
<% column = line.split(",") %>
<ul>
  <li><a href="/" method="post"><%= column[0] %></a></li>
</ul>
<% end %>
<form action="/new" method="get">
  <input type="submit" value="新規メモ作成">
</form>
